.telegram-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top));
  padding-top: var(--tg-safe-area-inset-top);
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}