@font-face {
  font-family: "votigram-icon";
  src: url('votigram-icon.eot?t=1733132077491'); /* IE9*/
  src: url('votigram-icon.eot?t=1733132077491#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("votigram-icon.woff2?t=1733132077491") format("woff2"),
  url("votigram-icon.woff?t=1733132077491") format("woff"),
  url('votigram-icon.ttf?t=1733132077491') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('votigram-icon.svg?t=1733132077491#votigram-icon') format('svg'); /* iOS 4.1- */
}

[class^="votigram-icon-"], [class*=" votigram-icon-"] {
  font-family: 'votigram-icon' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.votigram-icon-add3:before { content: "\ea01"; }
.votigram-icon-browse:before { content: "\ea02"; }
.votigram-icon-community-leaderboard:before { content: "\ea03"; }
.votigram-icon-icon-Profile:before { content: "\ea04"; }
.votigram-icon-icon-browse:before { content: "\ea05"; }
.votigram-icon-icon-community-leaderboard:before { content: "\ea06"; }
.votigram-icon-navbar-for-you:before { content: "\ea07"; }
.votigram-icon-navbar-home:before { content: "\ea08"; }
.votigram-icon-navbar-task-profile:before { content: "\ea09"; }
.votigram-icon-navbar-vote:before { content: "\ea0a"; }
.votigram-icon-profile:before { content: "\ea0b"; }


